# See https://help.github.com/ignore-files/ for more about ignoring files.


# compiled output
/target
/dist
/deploy-dist
/tmp
/docs

#Serverless
/.serverless

# reporters
**/*-reports.xml
**/*-checkstyle.xml

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# Pipeline (http://srisvm-xwiki01.isocel.info:8080/xwiki/bin/view/White+Rabbit+%28new+2%29/4+-+PIC/4.2+-+La+Cha%C3%AEne+de+Fabrication/)
pipeline
.sonar
ansible-wrf-deploiement

# WebStorm
.idea
